.terminal-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10%;
}

.fadeIn {
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.delay-0_3 {
    animation-delay: 0.3s;
}

.delay-0_5 {
    animation-delay: 0.5s;
}

.delay-0_7 {
    animation-delay: 0.7s;
}

.delay-0_9 {
    animation-delay: 0.9s;
}


.delay-1_3 {
    animation-delay: 1.3s;
}

.delay-2 {
    animation-delay: 2s;
}

.delay-2_5 {
    animation-delay: 2.5s;
}


.delay-3 {
    animation-delay: 3s;
}

.delay-3_5 {
    animation-delay: 3.5s;
}

.delay-4 {
    animation-delay: 4s;
}

.delay-4_5 {
    animation-delay: 4.5s;
}

.delay-5 {
    animation-delay: 5s;
}

.delay-5_5 {
    animation-delay: 5.5s;
}

.delay-10 {
    animation-delay: 10s;
}

.delay-10_5 {
    animation-delay: 10.5s;
}

.terminal-top {
    background-color: #4F4F4F;
    height: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.terminal-green {
    color: #008c23;
}

.terminal-bot {
    background-color: rgba(30, 30, 30, .6);
    padding-right: 10px;
    height: 500px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 7px;

}

@keyframes shrink {
    0% {
        background-size: 130% 130%;
    }

    100% {
        background-size: 100% 100%;
    }
}

.terminal-top .top-left {
    margin-left: 10px;
}

.terminal-top .top-mid {
    color: #1E1E1E;
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
    display: flex;
    /* animation: fadeIn 1s 1.3s forwards; */
    /* opacity: 0; */
}

.terminal-top .top-right {
    color: #1E1E1E;
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
    margin-right: 7px;
    /* animation: fadeIn 1s 1.3s forwards; */
    /* opacity: 0; */
}

.terminal-top .top-mid .house {
    font-size: 20px !important;
    margin-right: 7px;
}


.circle {
    width: 21px;
    height: 21px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 7px;
    margin-top: 7px;
}

.red {
    background-color: #FF5B52;
    /* animation: fadeIn 1s 0.5s forwards; */
    /* opacity: 0; */
}

.green {
    background-color: #51C22A;
    cursor: default;
    /* animation: fadeIn 1s 0.9s forwards; */
    /* opacity: 0; */
}

.yellow {
    background-color: #E6C027;
    /* animation: fadeIn 1s 0.7s forwards; */
    /* opacity: 0; */
}

.terminal-prompt {
    color: white;
    font-size: 17px;
    padding-left: 10px;
    font-weight: 300;
}

.mt-25 {
    margin-top: 25px;
}

.mt-10 {
    margin-top: 10px;
}

.terminal-text {
    display: flex;
    justify-content: start;
    /* animation: fadeIn 1.5s 5s forwards; */
    /* opacity: 0; */
}

.pl-7 {
    padding-left: 7px;
}

.startBtn {
    border: 1px solid #008c23;
    color: #008c23;
    background: linear-gradient(#008c23 0 0) left / var(--d, 0%) 100% no-repeat,
        linear-gradient(#008c23 0 0) right / var(--d, 0%) 100% no-repeat;
    transition: 0.7s;
    margin-left: 7px;
    border-radius: 10px;
    padding: 3px 8px;
    cursor: pointer;
}

.startBtn:disabled {
    opacity: 0.5;
}

.startBtn:hover:not([disabled]) {
    color: white;
    --d: 100%;
}

@keyframes fadeIn {

    to {
        opacity: 1;
    }
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
    animation:
        typing 3.5s 6s steps(40, end) forwards,
        blink-caret .75s step-end infinite;

}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 240px
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}