.optionBtn {
    border: 1px solid #E6C027;
    color: #E6C027;
    background: transparent;
    margin-left: 7px;
    border-radius: 10px;
    padding: 3px 8px;
    cursor: pointer;
}

.optionBtn:active {
    background: #E6C027;
    color: white !important;
}

.optionBtn:focus {
    background: #E6C027;
    color: white;
}

.giveUpBtn {
    border: 1px solid #FF5B52;
    color: #FF5B52;
    background: linear-gradient(#FF5B52 0 0) left / var(--d, 0%) 100% no-repeat,
        linear-gradient(#FF5B52 0 0) right / var(--d, 0%) 100% no-repeat;
    transition: 0.7s;    margin-left: 7px;
    border-radius: 10px;
    padding: 3px 8px;
    cursor: pointer;
}


.giveUpBtn:hover {
    color: white;
    --d: 100%;
}