.App {
  background-color: #252628;
  width: 100%;
  height: 100vh;
  font-family: monospace;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: shrink 5s infinite alternate;
  position: relative;
}

p {
  margin: 0;
}

span {
  margin: 0;
}